<nav id="menu">
    <ul class="list-group">
      <a class="list-group-item" href="#/"><i class="fa fa-user"></i> About</a>
      <a class="list-group-item" href="#/portfolio"><i class="fa fa-picture-o"></i> Portfolio</a>
      <a class="list-group-item" href="#/publications"><i class="fa fa-book"></i> Publications</a>
      <a class="list-group-item" href="#/talks"><i class="fa fa-comments-o"></i> Talks</a>
      <a class="list-group-item" href="#/blog"><i class="fa fa-rss"></i> Blog</a>
      <a class="list-group-item" href="#/github"><i class="fa fa-github"></i> Github</a>
      <a class="list-group-item" href="#/stackoverflow"><i class="fa fa-stack-overflow"></i> Stack Overflow</a>
      <a class="list-group-item" href="#/twitter"><i class="fa fa-twitter"></i> Twitter</a>
    </ul>
</nav>
<main id="panel">
  <!-- top navbar -->
  <div class="navbar navbar-default navbar-fixed-top printNotVisible" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <span class="navbar-brand">
                <i class="fa fa-bars hidden-lg"></i> 
                WWW.REMOJANSEN.COM
              </span>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav hidden-xs hidden-sm hidden-md">
              <li><a href="#/"><i class="fa fa-user"></i> About</a></li>
              <li><a href="#/portfolio"><i class="fa fa-picture-o"></i> Portfolio</a></li>
              <li><a href="#/publications"><i class="fa fa-book"></i> Publications</a></li>
              <li><a href="#/talks"><i class="fa fa-comments-o"></i> Talks</a></li>
              <li><a href="#/blog"><i class="fa fa-rss"></i> Blog</a></li>
              <li><a href="#/github"><i class="fa fa-github"></i> Github</a></li>
              <li><a href="#/stackoverflow"><i class="fa fa-stack-overflow"></i> Stack Overflow</a></li>
              <li><a href="#/twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
            </ul>
          </div>
      </div>
  </div>
  <div class="container" id="maincontainer">
      <div class="maincontainer">
          <!-- Populated by ember -->
          {{outlet}}
      </div>
  </div>
  <!-- footer -->
  <footer class="footer printNotVisible">
      <div class="container">
          <p>
            Copyright &copy; 2013 Remo H. Jansen | My thoughts do not reflect the views of my employer
            Content Licensed under
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
              <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png"/>
            </a>
          </p>
      </div>
  </footer>
  <div class="easterEgg">
      <div class="closeeasterEgg"><i class="glyphicon glyphicon-remove-circle"></i></div>
      <div class="animation"></div>
      <p>
          "Greetings. I am the Monitor of Installation 04. I am 343 Guilty Spark.
          Someone has released the Flood. My function is to prevent it from leaving this Installation.
          But I require your assistance."
      </p>
  </div>
</main>
