<nav id="menu">
    <ul class="list-group">
      <a class="list-group-item" href="#/"><i class="fa fa-user"></i> About</a>
      <a class="list-group-item" href="#/portfolio"><i class="fa fa-picture-o"></i> Portfolio</a>
      <a class="list-group-item" href="#/publications"><i class="fa fa-book"></i> Publications</a>
      <a class="list-group-item" href="#/talks"><i class="fa fa-comments-o"></i> Talks</a>
      <a class="list-group-item" href="#/blog"><i class="fa fa-rss"></i> Blog</a>
      <a class="list-group-item" href="#/github"><i class="fa fa-github"></i> Github</a>
      <a class="list-group-item" href="#/stackoverflow"><i class="fa fa-stack-overflow"></i> Stack Overflow</a>
      <a class="list-group-item" href="#/twitter"><i class="fa fa-twitter"></i> Twitter</a>
    </ul>
</nav>
<main id="panel">
  <!-- top navbar -->
  <div class="navbar navbar-default navbar-fixed-top printNotVisible" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <span class="navbar-brand">
                <i class="fa fa-bars hidden-lg"></i>
                WWW.REMOJANSEN.COM
              </span>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav hidden-xs hidden-sm hidden-md">
              <li>{{#link-to 'index'}}<i class="fa fa-user"></i> About{{/link-to}}</li>
              <li>{{#link-to 'portfolio'}}<i class="fa fa-picture-o"></i> Portfolio{{/link-to}}</li>
              <li>{{#link-to 'publications'}}<i class="fa fa-book"></i> Publications{{/link-to}}</li>
              <li>{{#link-to 'talks'}}<i class="fa fa-comments-o"></i> Talks{{/link-to}}</li>
              <li>{{#link-to 'blog'}}<i class="fa fa-rss"></i> Blog{{/link-to}}</li>
              <li>{{#link-to 'github'}}<i class="fa fa-github"></i> Github{{/link-to}}</li>
              <li>{{#link-to 'stackoverflow'}}<i class="fa fa-stack-overflow"></i> Stack Overflow{{/link-to}}</li>
              <li>{{#link-to 'twitter'}}<i class="fa fa-twitter"></i> Twitter{{/link-to}}</li>
            </ul>
          </div>
      </div>
  </div>
  <div class="container" id="maincontainer">
      <div class="maincontainer">
          <!-- Populated by ember -->
          {{outlet "main"}}
      </div>
  </div>
  <!-- footer -->
  <footer class="page-footer printNotVisible">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About</h4>
          <p>
            I'm a
            <a class="link" href="#/portfolio">web development ninja</a>,
            <a class="link" href="#/github">open-source contributor</a>,
            <a class="link" href="#/publications">writer</a>,
            <a class="link" href="#/talks">speaker</a>,
            <a class="link" href="http://www.wolksoftware.com">entrepreneur</a>,
            <a class="link" href="#/blog">technology lover</a>,
            <a class="link" href="https://live.xbox.com/en-US/Profile?gamertag=OweR%20ReLoaDeD">gamer</a>
            and
            <a class="link" href="#/twitter">Internet enthusiast</a>.
            Lead UX Engineer
            <a class="link" href="http://www.moneymate.com">@MoneyMate</a> &amp;
            CEO
            <a class="link" href="http://www.wolksoftware.com">@WolkSoftwareLtd</a>.
          </p>
        </div>
        <div class="col-md-4">
          <h4>Legal</h4>
          <p>My thoughts do not reflect the views of my employer.</p>
          <p>
            This website's source code can be found at github and is licensed under the
            <a class="link" href="http://opensource.org/licenses/MIT">MIT license</a>.
            Content is licensed under the
            <a class="link" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>
            license.
          </p>
        </div>
        <div class="col-md-4">
          <h4>Contact</h4>
          <p>
            I am open to speaking at dev meetups and
            conferences, taking on a new writing projects and
            doing occasional interviews.
          </p>
          <p>
            Please feel free to contact me via
            <a class="link" href="https://twitter.com/OweR_ReLoaDeD">twitter</a>,
            <a class="link" href="http://www.linkedin.com/in/remojansen">linkedin</a>
            or <a class="link" href="mailto:remo.jansen@wolksoftware.com">email</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright &copy; 2013 - 2015 Remo H. Jansen, All rights reserved.
      </div>
    </div>
  </footer>
  <div class="easterEgg">
      <div class="closeeasterEgg"><i class="glyphicon glyphicon-remove-circle"></i></div>
      <div class="animation"></div>
      <p>
          "Greetings. I am the Monitor of Installation 04. I am 343 Guilty Spark.
          Someone has released the Flood. My function is to prevent it from leaving this Installation.
          But I require your assistance."
      </p>
  </div>
</main>
