<div>
  {{#each itm in item}}
    <div class="well fadeInUp animated">
      <h2>
        <a class="link" href="{{unbound itm.link}}">{{unbound itm.title}}</a>
      </h2>
      <div class="post-body">
        {{unbound itm.description}}
      </div>
    </div>
  {{/each}}
  <blockquote class="large fadeInDown animated">
    <p>
      <strong>Please Note:</strong>
      This is just a preview of my latest blog posts.
      If you are looking for all the archived posts or you want to
      read more please visit the blog at
      <a href="http://blog.wolksoftware.com/">blog.wolksoftware.com</a>
    </p>
  </blockquote>
</div>
