<div>
  <div class="fadeInDown animated">
    <a href="http://blog.wolksoftware.com/feed" class="pull-right">
      <img src="./website/assets/rss.png" style="width: 25px;"/>
    </a>
    <h3 class="notopmargin">My Blog</h3>
    <p>
      I write sometimes at the official Wolk Software blog.
      Wolk Software is a group of young and ambitious people dedicated to creating
      cutting-edge applications in combination with beautiful and
      functional design.
    </p>
  </div>
  <blockquote class="large fadeInDown animated">
    <p>
      <strong>WARNING</strong>
      This is just a preview of the latest blog posts.
      If you are looking for all the archived posts or you want to
      read more please visit the blog at
      <a href="http://blog.wolksoftware.com/">blog.wolksoftware.com</a>
    </p>
  </blockquote>
  {{#each post}}
  <div class="well fadeInLeft animated">
    <h2>
      <a class="link" href="{{unbound link}}">{{unbound title}}</a>
    </h2>
    <div class="post-body">
      {{{unbound description}}}
    </div>
  </div>
  {{/each}}
</div>