<div>
  {{#each i in item}}
    <div class="col-md-4">
      <div class="well fadeInUp animated gitfeed">
        <div>
          <div class="gitfeed-body">
            {{unbound i.title}}
          </div>
          <hr/>
          {{unbound i.published}}
          <a class="pull-right link" href="{{unbound i.link}}">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
