<div class="row">
  <div class="col-md-12 col-ms-12 printNotVisible">
    <div>
    	<br/>
		<div class="row">
		  {{#each item in portfolio.demo}}
		  <div class="col-md-4col-xs-12">
		    <div class="thumbnail">
		      {{#if item.description}}
		      	<p class="portfolioparagraph well fadeInDown animated" style="padding: 15px;">
		      		{{{unbound item.description}}}
		      	</p>
		      {{/if}}
		      <img class="fadeInDown animated" alt="" src="{{unbound item.url}}" />
		    </div>
		  </div>
		  {{/each}}
		</div>
    </div>
  </div>
</div>
