<div class="fadeInDown animated">
	<h3 class="notopmargin">{{unbound publications.title}}</h3>
	<p>{{unbound publications.description}}</p>
</div>
<div class="row">
  <div class="col-md-12 col-ms-12 printNotVisible">
    <div>
    	<br/>
		<div class="row">
		  {{#each publications.items}}
        todo
		  {{/each}}
		</div>
    </div>
  </div>
</div>
