<div>
  <div class="fadeInDown animated">
    <h3 class="notopmargin">Stack Overflow User Feed</h3>
    <p>
      todo
    </p>
  </div>
  {{#each item}}
  <div class="well fadeInLeft animated">
    <h2>
      <a class="link" href="{{unbound id}}">{{unbound title.content}}</a>
    </h2>
    <div class="post-body">
      {{{unbound summary.content}}}
    </div>
  </div>
  {{/each}}
</div>
