@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {margin:0; padding:0; border: 0 none; position: relative;}

html {
    padding: 0px;
    margin: 0px;
}

.center {
    text-align: center;
}

.center p {
    text-align: center;
}

.btn {
    font-weight: bold;
    margin-top: 10px;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
    color: #787c86;
}

.cover img {
    max-width: 90%;
}

.cover {
    text-align: center;
}

.ordernow img {
    max-width: 60%;
}

.ordernow {
    text-align: center;
}

.quote {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 50px;
    min-height: 240px;
    font-style: italic;
}

.quote:after {
    position: absolute;
    height: 0;
    width: 0;
    border-width: 25px 20px;
    border-style: solid;
    content: '';
    top: 100%;
    right: 50%;
    margin-right: -20px;
    border-color: white transparent transparent transparent;
}

.footnote {
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}

.contents li {
    min-height: 190px;
}

.profile {
    width: 100%;
    max-width: 500px;
}

.logo img {
    width: 150px;
    margin: 50px 0px;
}

p {
    color: #787c86;
}

a {
    color: #787c86;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.social-link {
    color: #cfcfcf;
}

.dark p {
    color: #cfcfcf;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.main-title {
    font-size: 5rem;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.subtitle {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.zebra {
    padding: 5% 5% 10% 5%;
}

.gray {
    background-color: #f2f2f2;
    color: #2f2f31;
}

.dark {
    background-color: #181818;
    color: #ffffff;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .main-title {
        font-size: 3.5rem;
    }

    .social-link {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    .publisher {
        width: 80px;
    }

    #gallery {
        position: relative;
        height: 500px;
        margin-top: 50px;
    }

    #gallery > img {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }

    #gallery > img:first-child {
        display: block;
    }

    .title {
        margin-top: 60px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 577px) {

    p {
        font-size: 22px;
    }

    .social-link {
        font-size: 22px;
    }

    .publisher {
        width: 150px;
    }

    #gallery {
        position: relative;
        height: 500px;
    }

    #gallery > img {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }

    #gallery > img:first-child {
        display: block;
    }
    
}
