@import url(http://fonts.googleapis.com/css?family=Handlee);
@import url(http://fonts.googleapis.com/css?family=Raleway);

pre.prettyprint {
	padding: 10px !important;
}

body
{
	color: #99A0AA;
	font-family: 'Raleway';
}

.loader{
	text-text-align: center;
}

#panel {
	background-image: url('../assets/bg.png');
	background-repeat: repeat-x;
	background-color: #f2f2f2;
}

#panel {
	box-shadow: 2px 5px 0 0 rgba(255, 255, 255, 0.6); */
  -webkit-box-shadow: -1px 0px 10px 1px rgba(0,0,0,1);
  -moz-box-shadow: -1px 0px 10px 1px rgba(0,0,0,1);
  box-shadow: -1px 0px 10px 1px rgba(0,0,0,1);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Raleway';
}

.jumbotron, .well {
    color: #99A0AA;
    background-color: #fff !important;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.prettyprint {
    border: none !important;
}

.a {
    color: #FC6E51;
}

.a:hover {
    color: #FC6E51;
    text-decoration: underline;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    background-color: #272b30;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}

.nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover {
    color: #ffffff;
    background-color: #272b30;
}

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
	background-color: #FC6E51;
	color: #fff;
}

footer.page-footer .footer-copyright {
	margin-top: 20px;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

footer .link, footer {
    color: #ffccbc;
}

footer .link:hover {
    color: #ffccbc;
    text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  color: #ffffff;
  background-color: #3a3f44;
  border-color: #3a3f44;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #272b2e;
  border-color: #1e2023;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #3a3f44;
  border-color: #3a3f44;
}

.btn-primary {
  color: #ffffff;
  background-color: #7a8288;
  border-color: #7a8288;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #676d73;
  border-color: #5d6368;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #7a8288;
  border-color: #7a8288;
}

.btn-warning {
  color: #ffffff;
  background-color: #f89406;
  border-color: #f89406;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #d07c05;
  border-color: #bc7005;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f89406;
  border-color: #f89406;
}

.btn-danger {
  color: #ffffff;
  background-color: #ee5f5b;
  border-color: #ee5f5b;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #ea3b36;
  border-color: #e82924;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #ee5f5b;
  border-color: #ee5f5b;
}

.btn-success {
  color: #ffffff;
  background-color: #62c462;
  border-color: #62c462;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #45b845;
  border-color: #40a940;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #62c462;
  border-color: #62c462;
}

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #2aabd2;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-link {
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: #ffffff;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #7a8288;
  text-decoration: none;
}

.btn-lg {
  padding: 14px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

.dropdown-menu > li > a:hover {
    color: #ffffff;
    background-color: #000000;
}

.dropdown-menu {
    background-color: #222222;
}

.dropdown-menu > li > a {
    color: #ffffff;
}

.tab-pane {
    padding-top: 5px;
}

.link {
    color: #FC6E51;
}

.link:hover {
    color: #FC6E51;
    text-decoration: underline;
}

.tright {
    text-align: right;
}

.tleft {
    text-align: left;
}

ul.social {
    list-style: none;
    padding-left: 0px;
    min-height: 45px;
}

ul.social li{
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
}

.planeul {
    list-style: none;
    padding-left: 0px;
}

.well {
    padding-top: 5px;
}

.container .jumbotron {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.paragraph {
    font-size: 14px !important;
    text-align: justify;
}

.quote {
    font-size: 14px;
    text-align: justify;
    font-style: italic;
    font-family: 'Handlee', cursive;
    padding-left: 55px;
}

.quote-container {
    background-image: url('../assets/quoteIcon.png');
    background-repeat: no-repeat;
}

.thumbnail {
    background: none;
    border: none;
}

.centre {
    text-align: center;
}

.printVisible{
	display: none;
}

@media print {
    .printNotVisible{
        display: none;
    }
		.printVisible{
			display: block;
		}
    .maincontainer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.location {
    padding-bottom: 2px;
}

.maincontainer {
    padding-top: 60px;
		padding-bottom: 40px;
		min-height: 900px;
}

#maincontainer {
		min-height: 900px;
}

.post {
	text-align: center;
  background-color: #222222;
}

.post img{
	width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 5px;
}

.notopmargin {
	margin-top: 0px;
}

blockquote, .well blockquote {
    border-left: 5px solid #ffce54;
    border-top: 1px solid #ffce54;
    border-right: 1px solid #ffce54;
    border-bottom: 1px solid #ffce54;
    background-color: #ffebba;
    color: #434a54;
}

code {
    background-color: #2d2d2d;
    border-radius: 4px;
    border: none;
}

pre {
    color: #99A0AA;
    background-color: #2d2d2d;
}

.portfolioparagraph {
    width: 80%;
    margin: auto;
    text-align: justify;
    margin-bottom: 20px;
}

.easterEgg {
	display: none;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: #000000;
    text-align: center;
    padding-top: 5%;
    background-image: url('../assets/egg_bg.jpg');
    background-position: center;
    background-size: cover;
}

.animation {
    width: 295px;
    height: 281px;
    position:fixed;
    background: url('../assets/343.png');
    animation: pulse 5s infinite;
    -moz-animation: pulse 5s infinite;
    -webkit-animation: pulse 5s infinite;
}


@keyframes pulse {
    0% {

        background: url('../assets/343.png');
    }
    20% {
        background: url('../assets/343_1.png');
         margin-top: -150px;
         margin-left: -100px;
    }
    40% {
        background: url('../assets/343_2.png');
    }
    60% {
        background: url('../assets/343_3.png');
        margin-left: +100px;
        margin-top: +150px;
    }
    80% {
        background: url('../assets/343_4.png');
    }
    100%{
        background: url('../assets/343.png');
    }
}

@-moz-keyframes pulse {
    0% {

        background: url('../assets/343.png');
    }
    20% {
        background: url('../assets/343_1.png');
         margin-top: -150px;
        margin-left: -100px;
    }
    40% {
        background: url('../assets/343_2.png');
    }
    60% {
        background: url('../assets/343_3.png');
        margin-left: +100px;
        margin-top: +150px;
    }
    80% {
        background: url('../assets/343_4.png');
    }
    100%{
        background: url('../assets/343.png');
    }
}

@-webkit-keyframes pulse {
    0% {

        background: url('../assets/343.png');
    }
    20% {
        background: url('../assets/343_1.png');
         margin-top: -150px;
        margin-left: -100px;
    }
    40% {
        background: url('../assets/343_2.png');
    }
    60% {
        background: url('../assets/343_3.png');
        margin-left: +100px;
        margin-top: +150px;
    }
    80% {
        background: url('../assets/343_4.png');
    }
    100%{
        background: url('../assets/343.png');
    }
}

.easterEgg p {
    padding-top: 300px;
    font-style: italic;
    font-size: 25px;
    width: 50%;
    margin: auto;
    color: #fff;
}

.closeeasterEgg {
    font-size: 40px;
    cursor: pointer;
    color: #ffffff;
    position: fixed;
    top: 20px;
    right: 20px;
}

.navbar-default {
    background-color: #FC6E51;
    border-color: #FC6E51;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .btn-link, .navbar-default .navbar-brand, .navbar-default .navbar-link {
    color: #ffffff;
    font-family: Raleway;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #transparent;
    border-color: #E9573F;
}

.navbar-default .navbar-toggle {
    background-color: #transparent;
    border-color: #E9573F;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #E9573F;
}

.label-warning {
    background-color: #F5F7FA;
    color: #99A0AA;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin-right: 5px;
}

.label-default {
    background-color: #F5F7FA;
    color: #99A0AA;
    margin: 3px;
}

.progress-bar-success {
    background-color: #A0D468;
}

.progress-bar-warning {
    background-color: #FFCE54;
}

.progress-bar-danger {
    background-color: #ED5565;
}

h2 {
    color: #FC6E51;
}

.skill_container {
    line-height: 25px;
}


hr {
    border-top: 1px solid #F5F7FA;
}

.thumbnail > img {
    max-width: 60%;
}

.center{
    text-align: center;
}

.post-body h2{
    color: #99A0AA;
    font-size: 24px;
}

.post-body img {
    max-width: 100%;
}

.progress {
    height: 5px;
    margin-top: 8px;
}

.table thead th {
    background-color: #FC6E51;
    color: #fff;
}

ol.linenums {
    margin: 0 0 0 10px;
}

.tweet{
	padding: 5%;
}

.tweet-text {
    min-height: 120px;
    overflow: hidden;
}

.tweet-image{
	width: 45px;
	margin: 1% 3% 3% 0%;
}

.tweet-icon {
	color: #FC6E51;
	margin-right: 1%;
}

.tweet-icon:hover {
	color: #FC6E51;
	margin-right: 1%;
}

.publication {
	padding: 5%;
	min-height: 643px;
}

.publication img {
	width: 100%;
}

.talk{
	min-height: 170px;
}

.gitfeed-body{
	min-height: 60px;
}

@media print {
  a[href]:after {
    content: none !important;
  }
	h2 {
		font-size: 24px;
		margin-top: 5px;
	}
	.jumbotron p {
	  margin-bottom: 10px;
		font-size: 18px;
	}
	.jumbotron{
		padding-right: 20px !important;
		padding-left: 20px !important;
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
	}
	h3{
		margin-top: 5px !important;
    margin-bottom: 5px !important;
		page-break-before: always;
		border-bottom: 1px solid #F5F7FA;
		padding-bottom: 10px;
	}
	.well {
		padding-bottom: 5px;
		margin-bottom: 5px !important;
	}
	.paragraph {
  	font-size: 12px !important;
	}
}

code {
    background-color: #eeeeee;
    color: #333333;
}
