<h3>{{unbound additional_info.title}}</h3>
{{#each p in additional_info.paragraph}}
    <p class="paragraph">{{unbound p}}</p>
{{/each}}
<ul>
    {{#each feature in additional_info.featured}}
        <li>{{{unbound feature}}}</li>
    {{/each}}
</ul>
