<h3>{{unbound additional_info.title}}</h3>
{{#each additional_info.paragraph}}
    <p class="paragraph">{{unbound this}}</p>
{{/each}}
<ul>
    {{#each additional_info.featured}}
        <li>{{{unbound this}}}</li>
    {{/each}}
</ul>
