<h3>{{unbound skills.title}}</h3>
{{#each skills.skill}}
    <div class="row">
        <div class="col-md-4 tright"">{{{unbound this.name}}}</div>
        <div class="col-md-8">
            <div class="progress">
                <div class="progress-bar progress-bar-{{unbound this.class}}"
                     role="progressbar" style="width: {{unbound this.rank}}%">
                </div>
            </div>
        </div>
    </div>
{{/each}}