<div class="col-md-4 printNotVisible" style="text-align: center;">
  <div class="main-img-container">
      <img src="{{unbound summary.image_path}}" class="main-img"/>
  </div>
</div>
<div class="col-md-8">
  <div class="summary">
        <h2 class="">{{unbound summary.name}}</h2>
        <p class="">{{{unbound summary.main_paragraph}}}</p>
        {{#each smr in summary.paragraph}}
            <p class="paragraph">{{{unbound smr}}}</p>
        {{/each}}
  </div>
</div>
